.App {
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 16s linear;
  height: 6vmin;
}

.App-header,
.App-footer{
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  width: 100vw;
  padding: 0 20px;
}

.App-footer{
  bottom: 0;
}
.App-footer p{
  font-size: 20px;
  margin-bottom: 0;
}
.App-link {
  color: #61dafb;
  font-size: 10px;
}
.footer-life{
  width: 30px;
  margin: 2px;
}
.wrap{
  width: 100%;
  padding: 10vh 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.end-message{
  text-align: center;
}
.last-life {
  animation: App-last-life infinite 2s linear;
}
@keyframes App-last-life {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .App-header h1{
    font-size: 1.5rem;
  }
}

